<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <logger level="INFO" name="org.bidib.jbidibc"/>
    <logger level="DEBUG" name="org.bidib.jbidibc.tools"/>
    <logger level="INFO" name="com.beust.jcommander.internal.DefaultConsole"/>
    <logger level="INFO" name="org.bidib.jbidibc.utils.LibraryPathManipulator"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
